@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: rgba(0,0,0,0);
    font-family: Be Vietnam Pro;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}


*::-webkit-scrollbar {
    width: 14px !important;
}
  
*::-webkit-scrollbar-track {
    border-radius: 8px !important;
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    border: 4px solid transparent !important;
    background-clip: content-box !important;
    background-color: rgb(102, 108, 255) !important;
}
  
*::-webkit-scrollbar-thumb:hover {
    border: 3px solid transparent !important;
    background-color: rgb(135, 140, 255) !important;
}


.window {
    width: 750px;
    height: 500px;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(60, 58, 61);
    border-radius: 10px;
    overflow: hidden;
}

.everything {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title-bar {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 10, 10);
    -webkit-app-region: drag;
    height: 48px;
}

.title {
    font-size: 18px;
    line-height: 123%;
    letter-spacing: 0%;
    text-align: center;
    flex-direction: row;
    display: flex;
}

.title-first {
    color: rgb(135, 140, 255);
    font-weight: 500;
}

.title-second {
    color: rgb(102, 108, 255);
    font-weight: 900;
}

#version-number {
    color: rgb(110, 110, 110);
    font-size: 10px;
    font-weight: 800;
    line-height: 7px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;
    top: -8px;
}

.window-controls {
    -webkit-app-region: no-drag;
    display: flex;
    gap: 16px;
}

.closeButt {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-icon {
    width: 16px;
    height: 16px;
}

.main-content {
    flex: 1;
    padding: 0 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgb(10, 10, 10);
}

.outer-container {
    background-color: rgb(17, 17, 17);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}



.license-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 17, 17);
}

.license-title {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.license-icon-bg {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.license-icon {
    width: 15px;
    height: 15px;
}

.license-content {
    font-weight: 400;
    height: 100%;
    background: rgb(30, 30, 30);
    border-radius: 8px;
    padding: 16px;
    flex: 1;
    overflow-y: auto;
    color: #fff;
    font-size: 12px;
    line-height: 1.6;
    white-space: pre-wrap;
    max-height: 300px;
}


.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 123%;
    letter-spacing: 0%;
    text-align: right;
}

.custom-checkbox {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 2px solid rgb(42, 42, 42);
    appearance: none;
    background: rgb(30, 30, 30);
    cursor: pointer;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    transition: all 0.5s ease;
}

.custom-checkbox:checked {
    background-color: rgb(102, 108, 255);
    border-color: rgb(102, 108, 255);
    background-image: url('assets/checkmark.svg');
}

.custom-checkbox:hover {
    box-sizing: border-box;
    border: 2px solid rgb(102, 108, 255);
}



.theme-selector {
    background: rgb(30, 30, 30);
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
    position: relative;
}

.theme-selector-arrow {
    color: #666;
    transition: transform 0.3s ease;
}

.theme-selector.active .theme-selector-arrow {
    transform: rotate(90deg);
}

.dropdown-menu {
    max-height: 222px;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;
    background: rgb(30, 30, 30);
    border-radius: 8px;
    border: 2px solid rgb(60, 58, 61);
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1000;
}

.dropdown-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.dropdown-item {
    font-weight: 400;
    color: #888;
    transition: all 0.3s ease;
    cursor: pointer;
    background: rgb(17, 17, 17);
    padding: 7.5px 16px;
    border-radius: 5px;
}

.dropdown-item:hover {
    background: rgb(35, 35, 35);
    color: #fff;
}

.theme-selector-text {
    color: #888;
    font-weight: 400;
}

.theme-selector-arrow {
    color: #888;
    transition: transform 0.3s ease;
}

.dropdown-item:hover {
    background: rgb(40, 40, 40);
}

.theme-selector:hover {
    background: rgb(25, 25, 25);
}

.theme-options {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.theme-option {
    background: rgb(30, 30, 30);
    border-radius: 8px;
    padding: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.theme-option:hover {
    background: rgb(25, 25, 25);
}

.theme-text {
    color: #888;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;
}



.installation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 17, 17);
}

.installation-title {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.installation-icon-bg {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.installation-icon {
    width: 15px;
    height: 15px;
}

.logs-content {
    background: rgb(30, 30, 30);
    border-radius: 8px;
    padding: 16px;
    flex: 1;
    overflow-y: auto;
    color: #fff;
    font-size: 12px;
    white-space: pre-wrap;
    max-height: 300px;
    font-weight: 300;
}



.footer {
    background: rgb(30, 30, 30);
    border-radius: 8px;
    padding: 6px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.social-links {
    display: flex;
    gap: 7.5px;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(17, 17, 17);
    border-radius: 4px;
    background: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.social-link:hover img {
    filter: brightness(1.3);
}

.social-link-icon {
    width: 18px;
    height: 18px;
}

.nav-buttons {
    display: flex;
    gap: 8px;
}

.nav-button {
    opacity: 1;
    padding: 2px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.nav-button.disabled {
    opacity: 0.5;
}

.arrow-left,
.arrow-right {
    width: 20px;
    height: 20px;
    top: 1px;
    position: relative;
    justify-content: center;
    align-items: center;
}


.next {
    border: 2px solid rgb(102, 108, 255);
    background-color: rgb(102, 108, 255);
    color: #fff;
    transition: all 0.5s ease;
}
.next.disabled {
    cursor: not-allowed;
}

.back {
    border: 2px solid rgb(17, 17, 17);
    background-color: rgb(17, 17, 17);
    color: #fff;
    transition: all 0.5s ease;
}
.back.disabled {
    cursor: not-allowed;
    background-color: unset;
}


.popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 0, 0, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    display: none;
    z-index: 1001;
    color: white;
}

.theme-option.active {
    background: rgb(102, 108, 255) !important;
    color: white;
}

.theme-option.active .theme-text {
    color: white;
}

.nav-button.next.available {
    cursor: pointer;
    opacity: 1;
}
